.grid {
  width: 480px;
  height: 480px;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .row {
    display: flex;
    flex: 1;

    div {
      font-size: 10px;
      text-align: center;
      border: 2px dotted transparent;
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;

      &.tower {
        border: 2px dotted black;
      }

      &.mountain {
        background: #444;
      }

      &.king {
        font-weight: 800;
        text-decoration: underline;
        border: 2px solid black;
      }
    }
  }
}